{% if s_n_hero %}
  {{ s_n_hero }}
{% else %}
  <!-- InstanceBeginEditable name="hero" -->
  <div class="dcf-hero dcf-hero-default{% if unl_hide_page_title %} dcf-sr-only{% endif %}">
    <!-- InstanceEndEditable -->
    <div class="dcf-hero-group-1">
      {{ elements.unl_five_herbie_breadcrumbs }}
      {% if unl_no_page_title is not defined %}
        <header class="dcf-page-title" id="dcf-page-title">
          <!-- InstanceBeginEditable name="pagetitle" -->
          {{ elements.unl_five_herbie_page_title }}
          <!-- InstanceEndEditable -->
        </header>
      {% endif %}
      <!-- InstanceBeginEditable name="herogroup1" -->
      <!-- InstanceEndEditable -->
    </div>
    <!-- InstanceBeginEditable name="herogroup2" -->
    <div class="dcf-hero-group-2">
    </div>
    <!-- InstanceEndEditable -->
  </div>
{% endif %}
