.layout__region .dcf-card+.dcf-card {
  margin-top: 2em;
}

.dcf-card .media-entity-bundle--image {
  margin-bottom: 0;
  /* .dcf-ratio-child */
  bottom: 0 !important;
  left: 0 !important;
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;

}

.dcf-card img {
  /* .dcf-obj-fit-cover */
  object-fit: cover !important;
  height: 100% !important;
  width: 100% !important;
  /* .dcf-d-block */
  display: block !important;
}

/* This should apply only on a card! */
/* Gets overridden with code in global so I have moved this code to global.css/ This CSS block might not be necessary

/* div.dcf-card-block .dcf-subhead  {
  color: #6b6b68;
  } */



