.unlcms-img-zoom-hover:hover img {
  transform: scale(1.03);
}

.unlcms-img-zoom-hover img,
.unlcms-img-zoom-hover:hover img {
  transition: transform 250ms cubic-bezier(.25, .46, .45, .94) ;
}

.unlcms-teaser-news-img,
.unlcms-teaser-news-text {
  grid-column: 1 / -1;
}

.unlcms-teaser-news {
  container-type: inline-size;
}

@container (min-width: 42.09rem) {

  .unlcms-teaser-news-img {
    grid-column: 1 / span 5;
  }

  .unlcms-teaser-news-text {
    grid-column: span 7 / -1;
  }

}

.page-node-25 .dcf-main-content h2 {
  letter-spacing: .06em!important;
  font-size: .75em!important;
  margin-bottom: 1.78em!important;
  color: #6b6b68 !important;
  text-transform: uppercase!important;
  border-top-style: solid!important;
  border-top-color: #e3e3e2!important;
  padding-top: 0.75em!important;
  border-top-width: 1px!important;
  /* dcf-mb-6 dcf-txt-xs dcf-uppercase unl-ls-2 unl-dark-gray */
}
