.unlcms-person-img img {
  /* .dcf-ratio-child */
  bottom: 0 !important;
  left: 0 !important;
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
  /* .dcf-obj-fit-cover */
  object-fit: cover !important;
  height: 100% !important;
  width: 100% !important;
}

.unlcms-img-zoom-hover:hover img {
  transform: scale(1.03);
}

.unlcms-img-zoom-hover img,
.unlcms-img-zoom-hover:hover img {
  transition: transform 250ms cubic-bezier(.25, .46, .45, .94) ;
}

.unlcms-abbr-teaser-person-list {
  grid-template-columns: repeat( auto-fill, minmax(17.76rem, 1fr) );
}

.unlcms-teaser-person-list {
  grid-template-columns: repeat( auto-fill, minmax(23.68rem, 1fr) );
}

.unlcms-teaser-person-img,
.unlcms-teaser-person-vip-img,
.unlcms-teaser-person-text,
.unlcms-teaser-person-vip-text {
  grid-column: 1 / -1;
}

.unlcms-teaser-person {
  container-type: inline-size;
}

@container (min-width: 26.64rem) {

  .unlcms-teaser-person-img {
    grid-column: 1 / span 4;
  }

  .unlcms-teaser-person-text {
    grid-column: span 8 / -1;
  }

}

@container (min-width: 31.57rem) {

  .unlcms-teaser-person-img {
    grid-column: 1 / span 5;
  }

  .unlcms-teaser-person-text {
    grid-column: span 7 / -1;
  }

}

@container (min-width: 42.09rem) {

  .unlcms-teaser-person-vip-img {
    grid-column: 1 / span 5;
  }

  .unlcms-teaser-person-vip-text {
    grid-column: span 7 / -1;
  }

}




  .unlcms-grid-person-detail-bio h2,
  .unlcms-grid-person-detail-bio p:not(.dcf-subhead)+h2 {
    border-top: 1px solid var(--b-light-gray);
    color: var(--dark-gray);
    font-size: .75em;
    letter-spacing: .06em;
    margin-top: 3.16em !important;
    padding-top: 1em;
    text-transform: uppercase;
    background-color: none;

  }

  .unlcms-grid-person-detail-bio h2 ~ p,
  .unlcms-grid-person-detail-bio h2 ~ ol,
  .unlcms-grid-person-detail-bio h2 ~ ul {
    font-size: .84em;

  }

  .unlcms-grid-person-detail-bio-background {
    background-color: none;
  }

  .unlcms-grid-person-detail-bio h3 {
    font-size: 1.33em;
  }

  @media screen and (max-width: 42.09em) {

    .unlcms-grid-person-detail {
      width: 100%;
      /* fill width of wrapper if no bio text is present */
    }

  }

  @media screen and (min-width: 42.09em) {

    .unlcms-grid-person-detail {
      grid-template-columns: minmax(10em, 23.68em) minmax(auto, 35.52em);
    }

    .unlcms-grid-person-detail-img {
      grid-area: 1 / 1 / -1 / 2;
    }

    .unlcms-grid-person-detail-info {
      grid-area: 1 / 2 / -1 / -1;
    }

    .unlcms-grid-person-detail-bio :last-child {
      margin-bottom: 0;
    }

  }

  @media screen and (min-width: 56.12em) {

    .unlcms-hero-person-detail {
      margin-bottom: 1.83em;
      /* margin-bottom: 3.16em – 1.33em (dcf-pt-5) */
    }

  }

  .page-node-type-person .dcf-hero-group-1 h1 {
    display: none;
  }

  .dcf-url-wrap {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
  }
