.unlcms-display-banner-home .dcf-breadcrumbs-wrapper {
  display: none;
}

.unlcms-display-banner-body p {
  margin-bottom: 0;
 }

.unlcms-display-banner-heading,
.unlcms-display-banner-body {
  box-shadow: .75rem 0 0 #242423, -.56rem 0 0 #242423;
  margin-left: .56rem !important;
}

.unlcms-display-banner-heading {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}


.unlcms-display-banner-subhead {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  box-shadow: .75rem 0 0 #242423, -.75rem 0 0 #242423;
  margin-left: .75rem !important;
  padding-block: .18rem;
}

.unlcms-display-banner-img .media-entity-bundle--image {
  margin-bottom: 0;
  /* .dcf-ratio-child */
  bottom: 0 !important;
  left: 0 !important;
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
}

.unlcms-display-banner-img img {
  /* Animation */
  translate: none; rotate: none; scale: none; transform: scale(1, 1);
  /* .dcf-obj-fit-cover */
  object-fit: cover !important;
  height: 100% !important;
  width: 100% !important;
  /* .dcf-d-block */
  display: block !important;
}

  /* sm 673 */
  @media (min-width: 42.09em) {

    .unlcms-display-banner-group-2 {
      grid-template-rows: 1fr auto auto .78rem;
      height: 63vh;
      max-height: 31.57em;
    }

    .unlcms-display-banner-text-l {
      grid-area: 2 / 2 / 3 / 9;
    }

    .unlcms-display-banner-text-c {
      align-items: center;
      display: flex;
      flex-direction: column;
      grid-area: 2 / 2 / 3 / -2;
      text-align: center;
    }

    .unlcms-display-banner-text-c .unlcms-display-banner-header,
    .unlcms-display-banner-text-c .unlcms-display-banner-body {
      max-width: 42.09em;
    }

    .unlcms-display-banner-text-r {
      grid-area: 2 / 5 / 3 / -2;
    }

    .unlcms-display-banner-img {
      grid-area: 1 / 1 / -1 / -1;
    }

    .unlcms-display-banner-btn-group-l {
      grid-area: 3 / 2 / 4 / -2;
    }

    .unlcms-display-banner-btn-group-c {
      grid-area: 3 / 2 / 4 / -2;
      justify-content: center;
    }

    .unlcms-display-banner-btn-group-r {
      grid-area: 3 / 5 / 4 / -2;
    }

  }

  /* lg 1197 */
  @media (min-width: 74.83em) {

    .unlcms-display-banner-text-r,
    .unlcms-display-banner-btn-group-r {
      grid-column-start: 9;
    }

  }
