.unlcms-simple-media-img-grid {
  grid-template-columns: 1em auto 1em;
  grid-template-rows: 1em auto 1em;
}

.unlcms-simple-media-img-translate-xy-tr { grid-area: 1 / 2 / 3 / 4; }
.unlcms-simple-media-img-translate-xy-tl { grid-area: 1 / 1 / 3 / 3; }
.unlcms-simple-media-img-translate-xy-br { grid-area: 2 / 2 / 4 / 4; }
.unlcms-simple-media-img-translate-xy-bl { grid-area: 2 / 1 / 4 / 3; }

div.simple-media-media-entity.media-entity {
  display: block;
 }

 div.simple-media-media-entity.media-entity img {
   width: 100%;
 }
