  .dcf-slide .dcf-slide-figure img {
    /* .dcf-obj-fit-cover */
    object-fit: cover !important;
    height: 100% !important;
    width: 100% !important;
  }

  .dcf-slide .contextual-region {
    position:unset;
  }

.dcf-slideshow .contextual {
  /* position: absolute;
  top: 64px;
  right: 0; */
  }
