{% set nid = content.b_nodeinclude_node.0["#node"].id %}
<div{{ attributes.addClass('cms-node-include-'~nid) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {{ drupal_entity('node', nid, 'full') }}
</div>
