
{% set blockObjects = content.body['#object'] %}
{% set block_lbs = '#block_lbs' %}
{% set block_lbs_value = attribute(blockObjects, block_lbs) %}

{% if block_lbs_value %}
  <div class='dcf-d-flex dcf-jc-center'>
{% endif %}

    <div{{ attributes }}>

      {{ title_prefix }}
      {{ title_suffix }}

      {% block content %}
        {{ content.body }}
      {% endblock %}

    </div>

{% if block_lbs_value %}
  </div>
{% endif %}
