{% for item in items %}
 <div class="dcf-16x9 dcf-mb-6">
    <iframe class="dcf-obj-fit-cover dcf-w-100% dcf-h-100%" src="{{ item.content }}?format=iframe&amp;autoplay=0" title="Video Player: {{ label }} Major at the University of Nebraska–Lincoln " allowfullscreen></iframe>
 </div>
{% endfor %}
