{% set current_path = url('<current>')['#markup'] %}

  {% for item in items %}
    {% if '/option/' in current_path %}
      <a href="tel:{{ item.content['#context'].value|replace({'-':''}) }}">
        {{ item.content['#context'].value }}
      </a>
    {% else %}
      <a class='unl-cream' href="tel:{{ item.content['#context'].value|replace({'-':''}) }}">
        {{ item.content['#context'].value }}
      </a>
    {% endif %}
  {% endfor %}
