<div class="not-hero contact">
  <div class="page-padding">
    <h1 id="main_desc">{{ label }}</h1>
    <div class="grid-set">
      <div class="bp752-grid-col-one-half">
        {{ content }}
      </div>
    </div>
  </div>
</div>
