<!-- !The Latest -->
<section class="surface the-latest">
  <div class="page-padding">
    <h2 class="surface-heading">The Latest</h2>
    <div class="bp465-grid-set-halves bp956-grid-set-fourths deck">
      {% for row in rows %}
        {{ row }}
      {% endfor %}
    </div>
    <div class="more-info">
      <a href="/news" class="more-info-link">More News</a>
    </div>
  </div>
</section>
