<!-- !Events -->
<section class="surface events">
  <div class="page-padding">
    <h2 class="surface-heading">Events</h2>
    <div class="bp465-grid-set-halves bp956-grid-set-fourths deck">
      {% for row in rows %}
        {{ row }}
      {% endfor %}
    </div>
    <div class="more-info">
      <a href="/events" class="more-info-link">More Events</a>
    </div>
  </div>
</section>
