{# Overrides the template provided by the unl_events module. #}
<div{{ attributes }}>
  <div
    class="unl-event-list"
    data-url="{{ calendar_url }}"
    data-limit="{{ calendar_limit }}"
    data-pinned_limit="1"
  ></div>
</div>
