/**
 * @file
 * Addresses core CSS bugs.
 */

/*
 * A multi-select appearance issue was resolved by
 * https://www.drupal.org/project/drupal/issues/3043467, which was released
 * in 8.8.1. This code should remain until 8.8.x is out of support.
 */
#drupal-off-canvas select {
  -webkit-appearance: unset !important;
  -moz-appearance: unset !important;
}
#drupal-off-canvas select:not([multiple]) {
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
}

/*
 * A multi-select option color issue remains unresolved:
 * https://www.drupal.org/project/drupal/issues/3080698. The following code
 * should remain until committed and the initial commit version is no
 * longer supported.
 */
#drupal-off-canvas select[multiple] option {
  color: initial;
  background: initial;
}
