#sheldon_search .element-invisible {
  clip: auto;
  height: auto;
  overflow: auto;
}

@media (max-width: 591px) {
  #sheldon_search .element-invisible {
    position: static !important;
  }
}

.toolbar-fixed .header {
  position: static;
}

.toolbar-fixed .sheldon-nav {
  position: static;
}

.toolbar-fixed #sheldon_search {
  position: static;
}

.toolbar-fixed #search_form {
  position: absolute;
  top: 1.8em;
}

/* Hide the menu block included in the Builder Page's DCF two col layout builder implementation. */
.content .layout__region--second {
  display: none !important;
}

/* Fix for logged-in contextual links wrapper */
.exhibitions-abbr-teasers .contextual-region.media-entity {
  position: initial;
}

.sheldon-pill {
  background: #ebebeb;
  color: #28282a;
  padding: 1px 7px;
  margin-bottom: 10px;
}
.sheldon-pill a {
  color: #28282a;
  border-bottom: 1px solid #000000;
}

/* Logo cloud */
.layout__region .unlcms-component-spacer + .unlcms-component-spacer.unlcms-logocloud-component {
  margin-top: 2em;
}
.unlcms-li-logo {
  flex: 0 0 10em;
}
.unlcms-li-logo img[src$=".jpg"],
.unlcms-li-logo img[src$=".png"] {
  filter: unset !important;
  mix-blend-mode: multiply;
}
/* Duplicate .dcf-obj-fit-contain since it is difficult to apply classes to image tags. */
.unlcms-li-logo img {
  object-fit: contain !important;
  height: 100% !important;
  width: 100% !important;
}
.unlcms-li-logo .contextual-region.media-entity.view-mode--default.media-entity-bundle--image {
  aspect-ratio: 4 / 3;
}
.unlcms-li-logo .media-entity {
  margin-bottom: unset;
  display: unset;
}
