<div{{ attributes.addClass('unlcms-component-spacer').addClass('unlcms-logocloud-component')}}>
  {{ title_prefix }}
  {{ title_suffix }}
  <ul role="list" class="dcf-d-flex dcf-flex-wrap dcf-jc-center dcf-col-gap-4 dcf-row-gap-4 dcf-mb-0"
      style="display: flex;
              flex-wrap: wrap;
              row-gap: 3em;
              column-gap: 3em;
              justify-content: center;
              list-style: none;
              margin-top: 2em;">
    {% block content %}
      {{ content.b_logo_cloud_item }}
    {% endblock %}
  </ul>
</div>
