<div id="node-{{ node.id }}"{{ attributes.addClass('grid-set static') }}>
  <div class="bp591-grid-col-full">
    <h1 id="main_desc">
      {{ label }}
    </h1>
    <div class="content">
      {{ content }}
    </div>
  </div>
</div>
<style>
  .node-video .content p {
    margin-top: 20px;
  }
</style>
