{# used in modal gallery #}
<div class="grid-set modal-image" data-node="node-{{ node.id }}" style="display:none">
  <div class="bp591-grid-col-two-thirds">
    <span class="gallery-img-border">{{ content.image_image }}</span>
  </div>
  <div class="bp591-grid-col-one-third">
    <p class="modal-gallery-attribution tombstone">
      {{ content.body }}
    </p>
  </div>
</div>
