<figure data-node="node-{{ node.id }}">
  {{ content.artwork_image|render|replace({ 'href=':'class="gallery art-image" href=' })|raw }}
  <figcaption class="tombstone">
    <span class="tombstone-artist">{{ content.artist }}, </span>
    <span class="tombstone-title"><em>{{ content.artwork_title }}</em>.</span>
  </figcaption>
</figure>
