.dcf-hero .media-entity-bundle--image {
  margin-bottom: 0;
  display: block !important;
  height: 100% !important;
  width: 100% !important;
}

.dcf-hero img {
  /* .dcf-obj-fit-cover */
  object-fit: cover !important;
  height: 100% !important;
  width: 100% !important;
  /* .dcf-d-block */
  display: block !important;
}

.unl.page-node-type-builder-page .dcf-hero {
  margin-bottom: 0;
}
