  /* TANDEM */
  .unlcms-tandem-text p:last-child,
  .unlcms-tandem-text ol:last-child,
  .unlcms-tandem-text ul:last-child,
  .unlcms-tandem-text h2:last-child {
    margin-bottom: 0;
  }

  /* max sm 673 */
  @media (max-width: 42.09em) {

    .unlcms-tandem {
      padding-bottom: 3.16em;
    }

    .unlcms-tandem-text {
      padding-top: 1.33em;
    }

  }

  /* max sm 673 */
  @media (max-width: 42.09em) {

    .unlcms-tandem-stack {
      grid-template-rows: auto auto;
    }

    .unlcms-tandem-stack-text {
      grid-area: 2 / 2 / 3 / 6;
    }

    .unlcms-tandem-stack-img {
      grid-area: 1 / 1 / 2 / -1;
    }

  }

  /* sm 673 */
  @media (min-width: 42.09em) {

    .unlcms-tandem-stack {
      grid-template-rows: minmax(4.21em, 1fr) auto minmax(4.21em, 1fr);
    }

    .unlcms-tandem-stack-text-l {
      grid-area: 2 / 2 / -2 / 11;
    }

    .unlcms-tandem-stack-text-c {
      align-items: center;
      display: flex;
      flex-direction: column;
      grid-area: 2 / 2 / 3 / -2;
      text-align: center;
    }

    .unlcms-tandem-stack-text-c .unlcms-tandem-stack-text-card {
      max-width: 42.09em;
    }

    .unlcms-tandem-stack-text-r {
      grid-area: 2 / 5 / 3 / -2;
    }

    .unlcms-tandem-stack-text :last-child {
      margin-bottom: 0;
    }

    .unlcms-tandem-stack-text-card {
      background-color: var(--bg-card);
      -webkit-clip-path: polygon(0 0,0 100%,2px 100%,2px 2px,calc(100% - 2px) 2px,calc(100% - 2px) calc(100% - 2px),2px calc(100% - 2px),2px calc(100% - 5px),calc(100% - 5px) calc(100% - 5px),calc(100% - 5px) 5px,5px 5px,5px calc(100% - 5px),2px calc(100% - 5px),2px 100%,100% 100%,100% 0);
      clip-path: polygon(0 0,0 100%,2px 100%,2px 2px,calc(100% - 2px) 2px,calc(100% - 2px) calc(100% - 2px),2px calc(100% - 2px),2px calc(100% - 5px),calc(100% - 5px) calc(100% - 5px),calc(100% - 5px) 5px,5px 5px,5px calc(100% - 5px),2px calc(100% - 5px),2px 100%,100% 100%,100% 0);
      padding: 2.37em 2.67em;
    }

    .unlcms-tandem-stack-img {
      grid-area: 1 / 1 / -1 / -1;
    }
  }

  /* lg 1197 */
  @media (min-width: 74.83em) {

    .unlcms-tandem-stack-text-r {
      grid-column-start: 7;
    }

  }

  /* xl 1596 */
  @media (min-width: 99.78em) {

    .unlcms-tandem-stack {
      max-height: 42.09em;
      overflow-y: hidden;
    }
  }

  .unlcms-tandem-fade {
    background-color: var(--bg-color);
  }


  /* max sm 673 */
  @media (max-width: 42.09em) {

    .unlcms-tandem-fade {
      grid-template-rows: auto auto;
    }

    .unlcms-tandem-fade-text {
      grid-area: 2 / 2 / 3 / 6;
    }

    .unlcms-tandem-fade-img {
      grid-area: 1 / 1 / 2 / -1;
    }

  }

  /* sm 673 */
  @media (min-width: 42.09em) {

    .unlcms-tandem-fade {
      grid-template-rows: minmax(4.21em, 1fr) auto minmax(4.21em, 1fr);
    }

    .unlcms-tandem-fade-text-l {
      grid-area: 2 / 2 / 3 / 8;
    }

    .unlcms-tandem-fade-text-l ~ .unlcms-tandem-fade-img {
      grid-area: 1 / 10 / -1 / -1;
    }

    .unlcms-tandem-fade-text-r {
      grid-area: 2 / 10 / 3 / -2;
    }

    .unlcms-tandem-fade-text-r ~ .unlcms-tandem-fade-img {
      grid-area: 1 / 1 / -1 / 8;
    }

    .unlcms-tandem-fade-img::after {
      /* --bg-color-mix: color-mix(in srgb, var(--bg-color), transparent 50%); */
      /* background-image: linear-gradient(var(--direction), var(--bg-color) 2.37em, var(--bg-color-mix, --bg-color) 50%, transparent); */
      background-image: linear-gradient(var(--direction), var(--bg-color), transparent);
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      width: 33%;
      z-index: 1;
    }

    .unlcms-tandem-fade-text-l ~ .unlcms-tandem-fade-img::after {
      --direction: 90deg;
    }

    .unlcms-tandem-fade-text-r ~ .unlcms-tandem-fade-img::after {
      --direction: 270deg;
      right: 0;
    }
  }

  /* lg 1197 */
  @media (min-width: 74.83em) {

    .unlcms-tandem-fade-text-l ~ .unlcms-tandem-fade-img {
      grid-column-start: 11;
    }

    .unlcms-tandem-fade-text-r ~ .unlcms-tandem-fade-img {
      grid-column-end: 7;
    }
  }

  .unlcms-tandem-fade-img .media-entity-bundle--image,
  .unlcms-tandem-basic-img .media-entity-bundle--image,
  .unlcms-tandem-stack-img .media-entity-bundle--image {
    margin-bottom: 0;
    /* .dcf-ratio-child */
    bottom: 0 !important;
    left: 0 !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
  }

  .unlcms-tandem-fade-img img,
  .unlcms-tandem-basic-img img,
  .unlcms-tandem-stack-img img {
    /* .dcf-obj-fit-cover */
    object-fit: cover !important;
    height: 100% !important;
    width: 100% !important;
      /* .dcf-d-block */
  /* display: block !important; */
  }

  .unlcms-tandem-stack-text-card h2 {
    /* .dcf-txt-h3 */
    font-size: 1.5em !important;
    /* dcf-mt-0 */
    margin-top: 0 !important;
  }

  .unlcms-tandem-text h2 {
      /* .dcf-txt-h3 */
      font-size: 1.5em !important;
      /* dcf-mt-0 */
      margin-top: 0 !important;
  }

  .b-tandem-body-p-selector p {
    font-size: 0.8437500004em !important;
  }

  .tandem-stack-ul-selector {
    list-style-position: inside;
  }

    /* TANDEM - BASIC */
  .unlcms-tandem-basic-img-grid {
    grid-template-columns: 1em auto 1em;
    grid-template-rows: 1em auto 1em;
  }

  .unlcms-tandem-basic-img-translate-xy-tr { grid-area: 1 / 2 / 3 / 4; }
  .unlcms-tandem-basic-img-translate-xy-tl { grid-area: 1 / 1 / 3 / 3; }
  .unlcms-tandem-basic-img-translate-xy-br { grid-area: 2 / 2 / 4 / 4; }
  .unlcms-tandem-basic-img-translate-xy-bl { grid-area: 2 / 1 / 4 / 3; }
