.unlcms-timeline::before {
  background-image: linear-gradient(transparent, var(--dark-gray) 7.49em, var(--dark-gray) calc(100% - 7.49em), transparent);
  bottom: 0;
  content: '';
  position: absolute;
  top: 0;
  width: 4px;
}

/* Arrows and timeline points */
.unlcms-timeline li:nth-child(odd)::before,
.unlcms-timeline li:nth-child(even)::before,
.unlcms-timeline li:nth-child(odd)::after,
.unlcms-timeline li:nth-child(even)::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Timeline points */
.unlcms-timeline li::before {
  background-color: var(--dark-gray);
  border: 1px solid var(--dark-gray);
  border-radius: 50%;
  height: 1em;
  width: 1em;
}

/* Arrows */
.unlcms-timeline li:nth-child(odd)::after,
.unlcms-timeline li:nth-child(even)::after {
  border-style: solid;
  height: 0;
  width: 0;
}

.unlcms-timeline {
  container-type: inline-size;
}

@container (max-width: 42.09em) {

  .unlcms-timeline::before {
    left: 0;
  }

  /* Timeline list items */
  .unlcms-timeline li {
    left: 1.33em;
    width: calc(100% - 1.33em);
  }

  .unlcms-timeline li:last-child {
    margin-bottom: 0;
  }

  /* Timeline points */
  .unlcms-timeline li::before {
    left: calc(-1.33em - .5em + 2px);
  }

  /* Arrows */
  .unlcms-timeline li::after {
    border-color: transparent var(--bg-card) transparent transparent;
    border-width: .56em .56em .56em 0;
    left: calc(-.56em + 1px);
  }

}

@container (min-width: 42.09em) {

  .unlcms-timeline::before {
    left: 50%;
    transform: translateX(-50%);
  }

  .unlcms-timeline li {
    margin-bottom: 0;
    /* max-width: 42.09em; */
    width: calc(50% - 1.33em);
  }

  /* Timeline list items */
  .unlcms-timeline li:nth-child(even) {
    left: calc(50% + 1.33em);
  }

  .unlcms-timeline li:not(:first-child) {
    margin-top: -2.37em;
  }

  /* .unlcms-timeline li:nth-child(odd) {
    left: calc(50% - 1em);
    transform: translateX(-100%);
  } */

  /* Timeline points */
  .unlcms-timeline li:nth-child(odd)::before {
    left: calc(100% + 1.33em - .5em);
  }

  .unlcms-timeline li:nth-child(even)::before {
    left: calc(-1.33em - .5em);
  }

  /* Arrows */
  .unlcms-timeline li:nth-child(odd)::after {
    border-color: transparent transparent transparent var(--bg-card);
    border-width: .56em 0 .56em .56em;
    right: calc(-.56em + 1px);
  }

  .unlcms-timeline li:nth-child(even)::after {
    border-color: transparent var(--bg-card) transparent transparent;
    border-width: .56em .56em .56em 0;
    left: calc(-.56em + 1px);
  }

}
