.unlcms-display-banner  div.media-entity {
  display: block;
}

.unlcms-display-banner {
    container-type: inline-size;
  }

  /* max sm 673 */
  @container (max-width: 42.09em) {

    .unlcms-display-banner-grid {
      grid-template-rows: auto auto auto;
      padding-bottom: 2.37em;
    }

    .unlcms-display-banner-text {
      grid-area: 2 / 1 / 3 / -1;
      padding-top: 1em;
    }

    .unlcms-display-banner-video,
    .unlcms-display-banner-img {
      grid-area: 1 / 1 / 2 / -1;
    }

    .unlcms-display-banner-btn-group {
      grid-area: 3 / 1 / 4 / -1;
    }

    .unlcms-display-banner-grid:not(:has(header + p)) {
      grid-template-rows: 1fr auto auto .78rem;
      height: 63vh;
      max-height: 31.57em;
      padding-bottom: 0;
    }

    .unlcms-display-banner:not(:has(header + p)) .unlcms-display-banner-text {
      grid-area: 2 / 1 / 3 / -1;
    }

    .unlcms-display-banner:not(:has(header + p)) .unlcms-display-banner-video,
    .unlcms-display-banner:not(:has(header + p)) .unlcms-display-banner-img {
      grid-area: 1 / 1 / -1 / -1;
    }

    .unlcms-display-banner:not(:has(header + p)) .unlcms-display-banner-btn-group {
      grid-area: 3 / 1 / 4 / -1;
    }

    .unlcms-display-banner:not(:has(header + p)) .unlcms-display-banner-text-c,
    .unlcms-display-banner:not(:has(header + p)) .unlcms-display-banner-btn-group-c {
      justify-content: center;
      justify-self: center;
      text-align: center;
    }

    .unlcms-display-banner:not(:has(header + p)) .unlcms-display-banner-text-r,
    .unlcms-display-banner:not(:has(header + p)) .unlcms-display-banner-btn-group-r {
      justify-self: end;
    }

    .unlcms-display-banner:not(:has(header + p)) .unlcms-display-banner-heading,
    .unlcms-display-banner:not(:has(header + p)) .unlcms-display-banner-body {
      box-shadow: .75rem 0 0 #242423, -.56rem 0 0 #242423;
      margin-left: .56rem !important;
    }

    .unlcms-display-banner:not(:has(header + p)) .unlcms-display-banner-heading {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }

    .unlcms-display-banner:not(:has(header + p)) .unlcms-display-banner-subhead {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      box-shadow: .75rem 0 0 #242423, -.75rem 0 0 #242423;
      margin-left: .75rem !important;
      padding-block: .18rem;
    }

  }

  /* sm 673 */
  @container (min-width: 42.09em) {

    .unlcms-display-banner-heading,
    .unlcms-display-banner-body {
      box-shadow: .75rem 0 0 #242423, -.56rem 0 0 #242423;
      margin-left: .56rem !important;
    }

    .unlcms-display-banner-heading {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }

    .unlcms-display-banner-subhead {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      box-shadow: .75rem 0 0 #242423, -.75rem 0 0 #242423;
      margin-left: .75rem !important;
      padding-block: .18rem;
    }

    .unlcms-display-banner-grid {
      grid-template-rows: 1fr auto auto .78rem;
      height: 63vh;
      max-height: 31.57em;
    }

    .unlcms-display-banner-text {
      grid-area: 2 / 1 / 3 / -1;
    }

    .unlcms-display-banner-video,
    .unlcms-display-banner-img {
      grid-area: 1 / 1 / -1 / -1;
    }

    .unlcms-display-banner-btn-group {
      grid-area: 3 / 1 / 4 / -1;
    }

    .unlcms-display-banner-text-c,
    .unlcms-display-banner-btn-group-c {
      justify-content: center;
      justify-self: center;
      text-align: center;
    }

    .unlcms-display-banner-text-r,
    .unlcms-display-banner-btn-group-r {
      justify-self: end;
    }

  }
