{% for item in items %}
  <p class="dcf-mb-3 dcf-txt-xs dcf-lh-3 dcf-uppercase dcf-bold unl-ls-2 unl-cream">
    <span class="unl-bg-darkest-gray unlcms-hero-subhead">{{ item.content }}</span>
  </p>
{% endfor %}
