.icon-award-2-0 { background-image: url('png/award-2-0.png'); background-repeat: no-repeat; }

.icon-award-2 { background-image: url('png/award-2.png'); background-repeat: no-repeat; }

.icon-bg-footer { background-image: url('png/bg-footer.png'); background-repeat: no-repeat; }

.icon-buildings-4-0 { background-image: url('png/buildings-4-0.png'); background-repeat: no-repeat; }

.icon-buildings-4 { background-image: url('png/buildings-4.png'); background-repeat: no-repeat; }

.icon-calendar-1-0 { background-image: url('png/calendar-1-0.png'); background-repeat: no-repeat; }

.icon-calendar-1 { background-image: url('png/calendar-1.png'); background-repeat: no-repeat; }

.icon-calendar-2-0 { background-image: url('png/calendar-2-0.png'); background-repeat: no-repeat; }

.icon-calendar-2-1 { background-image: url('png/calendar-2-1.png'); background-repeat: no-repeat; }

.icon-calendar-2 { background-image: url('png/calendar-2.png'); background-repeat: no-repeat; }

.webform-component--phone-number:before,
.icon-call-1-white { background-image: url('png/call-1-white.png'); background-repeat: no-repeat; }

.icon-call-1 { background-image: url('png/call-1.png'); background-repeat: no-repeat; }

.icon-clock-3-0 { background-image: url('png/clock-3-0.png'); background-repeat: no-repeat; }

.icon-clock-3 { background-image: url('png/clock-3.png'); background-repeat: no-repeat; }

.icon-close-1 { background-image: url('png/close-1.png'); background-repeat: no-repeat; }

.icon-close-white { background-image: url('png/close-white.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.icon-connection-3-0 { background-image: url('png/connection-3-0.png'); background-repeat: no-repeat; }

.icon-connection-3 { background-image: url('png/connection-3.png'); background-repeat: no-repeat; }

.icon-direction-sign-0 { background-image: url('png/direction-sign-0.png'); background-repeat: no-repeat; }

.icon-direction-sign { background-image: url('png/direction-sign.png'); background-repeat: no-repeat; }

.icon-external-link-white { background-image: url('png/external-link-white.png'); background-repeat: no-repeat; }

.icon-external-link { background-image: url('png/external-link.png'); background-repeat: no-repeat; }

.icon-facebook-1 { background-image: url('png/facebook-1.png'); background-repeat: no-repeat; }

.icon-facebook-white { background-image: url('png/facebook-white.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-favorite-marker-1-0 { background-image: url('png/favorite-marker-1-0.png'); background-repeat: no-repeat; }

.icon-favorite-marker-1 { background-image: url('png/favorite-marker-1.png'); background-repeat: no-repeat; }

.icon-flag-1-0 { background-image: url('png/flag-1-0.png'); background-repeat: no-repeat; }

.icon-flag-1 { background-image: url('png/flag-1.png'); background-repeat: no-repeat; }

.icon-fork-and-knife-0 { background-image: url('png/fork-and-knife-0.png'); background-repeat: no-repeat; }

.icon-fork-and-knife { background-image: url('png/fork-and-knife.png'); background-repeat: no-repeat; }

.icon-hand-eco-0 { background-image: url('png/hand-eco-0.png'); background-repeat: no-repeat; }

.icon-hand-eco { background-image: url('png/hand-eco.png'); background-repeat: no-repeat; }

.icon-hand-globe-0 { background-image: url('png/hand-globe-0.png'); background-repeat: no-repeat; }

.icon-hand-globe { background-image: url('png/hand-globe.png'); background-repeat: no-repeat; }

.icon-id-7-0 { background-image: url('png/id-7-0.png'); background-repeat: no-repeat; }

.icon-id-7 { background-image: url('png/id-7.png'); background-repeat: no-repeat; }

.icon-id-picture-1-0 { background-image: url('png/id-picture-1-0.png'); background-repeat: no-repeat; }

.icon-id-picture-1 { background-image: url('png/id-picture-1.png'); background-repeat: no-repeat; }

.icon-keynote-0 { background-image: url('png/keynote-0.png'); background-repeat: no-repeat; }

.icon-keynote { background-image: url('png/keynote.png'); background-repeat: no-repeat; }

.icon-leaf-0 { background-image: url('png/leaf-0.png'); background-repeat: no-repeat; }

.icon-leaf { background-image: url('png/leaf.png'); background-repeat: no-repeat; }

.icon-leed { background-image: url('png/leed.png'); background-repeat: no-repeat; }

.icon-light-eco-0 { background-image: url('png/light-eco-0.png'); background-repeat: no-repeat; }

.icon-light-eco { background-image: url('png/light-eco.png'); background-repeat: no-repeat; }

.icon-link-3-0 { background-image: url('png/link-3-0.png'); background-repeat: no-repeat; }

.icon-link-3 { background-image: url('png/link-3.png'); background-repeat: no-repeat; }

.icon-linkedin-1 { background-image: url('png/linkedin-1.png'); background-repeat: no-repeat; }

.icon-linkedin-white { background-image: url('png/linkedin-white.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('png/linkedin.png'); background-repeat: no-repeat; }

.webform-component--e-mail:before,
.icon-mail-1-white { background-image: url('png/mail-1-white.png'); background-repeat: no-repeat; }

.icon-mail-1 { background-image: url('png/mail-1.png'); background-repeat: no-repeat; }

.icon-marker-1-0 { background-image: url('png/marker-1-0.png'); background-repeat: no-repeat; }

.icon-marker-1 { background-image: url('png/marker-1.png'); background-repeat: no-repeat; }

.icon-menu-white { background-image: url('png/menu-white.png'); background-repeat: no-repeat; }

.icon-menu { background-image: url('png/menu.png'); background-repeat: no-repeat; }

.icon-microscope-0 { background-image: url('png/microscope-0.png'); background-repeat: no-repeat; }

.icon-microscope { background-image: url('png/microscope.png'); background-repeat: no-repeat; }

.icon-network-2-0 { background-image: url('png/network-2-0.png'); background-repeat: no-repeat; }

.icon-network-2 { background-image: url('png/network-2.png'); background-repeat: no-repeat; }

.icon-next-0 { background-image: url('png/next-0.png'); background-repeat: no-repeat; }

.icon-next-1 { background-image: url('png/next-1.png'); background-repeat: no-repeat; }

.icon-next { background-image: url('png/next.png'); background-repeat: no-repeat; }

.icon-nic-circles { background-image: url('png/nic-circles.png'); background-repeat: no-repeat; }

.icon-nic-logo-full { background-image: url('png/nic-logo-full.png'); background-repeat: no-repeat; }

.nic-contact-info:before,
.icon-nic-logo-mark-white { background-image: url('png/nic-logo-mark-white.png'); background-repeat: no-repeat; }

.icon-nic-logo-mark { background-image: url('png/nic-logo-mark.png'); background-repeat: no-repeat; }

.icon-plant-0 { background-image: url('png/plant-0.png'); background-repeat: no-repeat; }

.icon-plant-1-0 { background-image: url('png/plant-1-0.png'); background-repeat: no-repeat; }

.icon-plant-1 { background-image: url('png/plant-1.png'); background-repeat: no-repeat; }

.icon-plant-2-0 { background-image: url('png/plant-2-0.png'); background-repeat: no-repeat; }

.icon-plant-2 { background-image: url('png/plant-2.png'); background-repeat: no-repeat; }

.icon-plant { background-image: url('png/plant.png'); background-repeat: no-repeat; }

.play:hover:after,
.icon-play-1 { background-image: url('png/play-1.png'); background-repeat: no-repeat; }

.play:after,
.icon-play-white { background-image: url('png/play-white.png'); background-repeat: no-repeat; }

.icon-play { background-image: url('png/play.png'); background-repeat: no-repeat; }

.icon-prev-0 { background-image: url('png/prev-0.png'); background-repeat: no-repeat; }

.icon-prev-1 { background-image: url('png/prev-1.png'); background-repeat: no-repeat; }

.icon-prev { background-image: url('png/prev.png'); background-repeat: no-repeat; }

.icon-road-bike-0 { background-image: url('png/road-bike-0.png'); background-repeat: no-repeat; }

.icon-road-bike { background-image: url('png/road-bike.png'); background-repeat: no-repeat; }

.icon-search-1 { background-image: url('png/search-1.png'); background-repeat: no-repeat; }

.icon-search-white { background-image: url('png/search-white.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.icon-serving-0 { background-image: url('png/serving-0.png'); background-repeat: no-repeat; }

.icon-serving { background-image: url('png/serving.png'); background-repeat: no-repeat; }

.icon-sync-2-0 { background-image: url('png/sync-2-0.png'); background-repeat: no-repeat; }

.icon-sync-2 { background-image: url('png/sync-2.png'); background-repeat: no-repeat; }

.icon-tags-1-0 { background-image: url('png/tags-1-0.png'); background-repeat: no-repeat; }

.icon-tags-1 { background-image: url('png/tags-1.png'); background-repeat: no-repeat; }

.icon-treasure-2-0 { background-image: url('png/treasure-2-0.png'); background-repeat: no-repeat; }

.icon-treasure-2 { background-image: url('png/treasure-2.png'); background-repeat: no-repeat; }

.icon-twitter-1 { background-image: url('png/twitter-1.png'); background-repeat: no-repeat; }

.icon-twitter-white { background-image: url('png/twitter-white.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.webform-component--first-name:before,
.webform-component--last-name:before,
.icon-user-1-white { background-image: url('png/user-1-white.png'); background-repeat: no-repeat; }

.icon-user-1 { background-image: url('png/user-1.png'); background-repeat: no-repeat; }

